<!-- <strong *ngIf="searchMessage" class="error-message">{{searchMessage}}</strong>-->
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<form (ngSubmit)="searchSubmit()" [formGroup]="searchForm">
				<div class="search-hero">
					<link
						href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
						rel="stylesheet" />
					<input class="form-control" type="text" name="search"
						[ngClass]="{'is-invalid': submitted && searchhashaserror()}"
						autocomplete="off" formControlName="query"
						placeholder="&#61442;  Enter Gif's to display here">
				</div>
			</form>
		</div>
	</div>
</div>
<mat-tab-group mat-align-tabs="center" animationDuration="2000ms">
	<mat-icon>Recommended</mat-icon>
	<mat-tab label="Recommended">
		<ng-template matTabContent>
			<app-recommend></app-recommend>
		</ng-template>
	</mat-tab>
	<mat-tab label="Recently Searched Gif">
		<ng-template matTabContent>
			<app-gipher-view [searchedGiphers]="searchedGiphers"></app-gipher-view>
		</ng-template>
	</mat-tab>
	<mat-tab label="Bookmarks">
		<ng-template matTabContent>
			<app-bookmark></app-bookmark>
		</ng-template>
	</mat-tab>
	<mat-tab label="Favourites">
		<ng-template matTabContent>
			<app-favourite></app-favourite>
		</ng-template>
	</mat-tab>
</mat-tab-group>